<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>RESOURCES</h3>
                    <ul>
                        How to Write a Book <br>
How to Write a Novel <br>
How to Write a Screenplay <br>
How to Write a Short Story <br>
Book Writing Templates <br>
Novel Outline Templates <br>

                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>TOOLS</h3>
                    <ul>
                        Book Writing Software <br>
                        Novel Writing Software <br>
                        Screenwriting Software <br>
                        Online Journal <br>
                        Dangerous Prompts <br>
                        Plot Generator <br>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <a href="#intro" class="navbar-brand">
                        <span class="fw-bold text-secondary">
                            <i class="bi bi-book-half"></i>
                            E-Writer
                        </span>
                    </a>
                    <p>E-Writer is the world's best writing
                        platform. Write anything. Publish anywhere</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">E-WRITER'S © 2022</p>
        </div>
    </footer>
</div>