<br>
<br>
<br>
<br>
   <section id="pricing" class=" mt-5">
    <div class="container-lg">
        <div class="text-center">
            <h2>
                <img style="width: 40px; height:40;" src="assets/img/pr.png" alt="">
                Pricing Plans</h2>
           

            <div class="row my-5 align-items-center justify-content-center">

                <div class="col-8 col-lg-4 col-xl-3">
                    <div style="background-color: black;" class="card border-start ">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Limited Edition</h4>
                           
                            <p class="display-5 my-4 text-primary fw-bold">$14.99</p>
                            <p class="card-text mx-5 text-center text-muted d-none d-lg-block">
                                Writing just got better. Professional writing made easy with unlimited access to premium tools and content.
                            </p>
                            <a href="#" class="btn btn-outline-primary btn-lg mt-3">
                                Start Now
                            </a>
                        </div>
                    </div>
                </div>



                <!-- big card-->
                <div class="col-9 col-lg-4">
                    <div class="card border-primary border-2">
                        <div style="background-color: black;" class="card-header text-center text-primary">Popular </div>
                        <div style="background-color: black;" class="card-border  text-center py-5">
                            <h4 class="card-title">PRO</h4>
                            
                            <p class="display-4 my-4 text-primary fw-bold">$21.99</p>
                            <p class="card-text mx-5 text-muted d-none d-lg-block">
                                Writing just got better. Professional writing made easy with unlimited access to premium tools and content.
                            </p>
                            <a href="#" class="btn btn-outline-primary btn-lg mt-3">Start Now</a>
                        </div>
                    </div>
                </div>
                <!-- big card end-->


                <div class="col-8 col-lg-4 col-xl-3">
                    <div class="card border-start ">
                        <div style="background-color: black;" class="card-body text-center py-4">
                            <h4 class="card-title">Start Edition</h4>
                           
                            <p class="display-5 my-4 text-primary fw-bold">$0.00</p>
                            <p class="card-text mx-5 text-center text-muted d-none d-lg-block">
                                Writing just got better. Professional writing made easy with unlimited access to premium tools and content.
                            </p>
                            <a href="#" class="btn btn-outline-primary btn-lg mt-3">
                                 Free trial
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <button class="button"><span>
                    <img style="width: 25px; height:25px;" src="assets/img/icons/google.png" alt="">
                    14 day free trial </span></button>
                <br>
                <br>
                <br>
                <br>
            </div>

        </div>
    </div>
</section>

