

<nav style="border-radius: 50px;" class="navbar navbar-expand-md navbar-light  border-bottom">
    <div class="container mx-5">
        <a href="#intro" class="navbar-brand">
            <span class="fw-bold text-secondary">
                <i class="bi bi-book-half"></i>
                E-Writer
            </span>
        </a>

        <!-- toggle button for mobile navbar-->
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="" routerLink="/main" routerLinkActive="active">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="" routerLink="/product" routerLinkActive="active">Product</a>
                </li>

              
                <li class="nav-item ">
                    <a class="nav-link text-white" href="" routerLink="/price" routerLinkActive="active">Pricing</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="" routerLink="/" routerLinkActive="active">Blog</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="" routerLink="/" routerLinkActive="active">Learn</a>
                </li>
                <li class="nav-item ms-2 ">
                    <a class="btn btn-light" href="" routerLink="/login" routerLinkActive="active">
                        <img style="width: 25; height:25px;" src="assets/img/navicons/log.png" alt="">
                        Start Now</a>
                </li>
            </ul>
        </div>

    </div>
</nav>