<br>
<br>
<br>
<br>

<section id="intro">
    <div class="container-lg">
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-5 text-lg-center text-sm-start text-white">
                <h1>
                    <div class="display-5"></div>
                    <div class="display-5 text-muted">
                        <img style="width: 40px; height:40px;" src="assets/img/service.png" alt="">
                        Products</div>
                </h1>
                Book writing software <br>
                Screen writing software <br>
                Freelance writing software <br>
                Online journal writing software <br>
                Novel writing software <br>

                    <button class="button"><span>
                        <img style="width: 25px; height:25px;" src="assets/img/icons/google.png" alt="">
                        Get started with Google </span></button>



            </div>

            <div class="col-md-5 text-center d-none d-md-block">

                <span class="tt" data-bs-placement="bottom" title="Milk and honey cover">
                    <img class="img-fluid" src="assets/img/15.png" alt="e-book">
                </span>

            </div>

        </div>
    </div>


</section>
<br>
<br>
<br>
<br>
<section id="intro">
    <div class="container-lg">
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-5 text-lg-center text-sm-start text-white">
                <h1>
                    <div class="display-5"></div>
                    <div class="display-5 text-muted"> 
                        <img style="width: 40px; height:40px;" src="assets/img/service.png" alt="">
               
                        Upcoming </div>
                </h1>
               1.HR online management <br>
1.Video MAX <br> 
2.Storage MAX <br>

                 

            </div>

            <div class="col-md-5 text-center d-none d-md-block">

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/img/hr.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/img/bid.png" class="d-block w-100" alt="...">
                    </div>
                      <div class="carousel-item">
                        <img src="assets/img/st.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

            </div>

        </div>
    </div>


</section>